body { margin: 0; padding: 0; background-image: url(../images/background.png); font-family: 'Finlandica', sans-serif; overflow-x: hidden; background-color: black; background-repeat: repeat; }

ul { list-style-type: none; margin: 0; padding: 0; }

li { display: inline-block; }

a { color: white; text-decoration: none; }

#logo { margin-top: 3%; margin-left: 10%; display: inline-block; }

#logotype { width: 150px; height: 50px; }

#navigation { display: none; }

@media (min-width: 737px) { #navigation { display: block; float: right; margin-top: 3%; margin-right: 10%; }

#menu { display: inline-block; }

#menu li { margin-left: 15px; }

#menu a { font-size: 20px; padding: 10px; transition: all 0.3s ease-in-out; }

#menu a:hover { color: blueviolet; }

#navigation-mobile { display: none; } }

#button-menu { display: block; float: left; margin-left: 90%; margin-top: -50px; background-color: transparent; border: none; outline: none; cursor: pointer; }

#button-menu img { width: 30px; height: 30px; }

#menu-mobile { display: none; text-align: center; }

#menu-mobile a { display: block; padding: 10px; font-size: 20px; color: white; transition: all 0.3s ease-in-out; }

#menu-mobile a:hover { color: blueviolet; } }

.menu-icon {
  transition: transform 0.3s ease-in-out;
}

.menu-icon.rotated {
  transform: rotate(90deg);
}

p { 
  font-size: 25px; 
}

div {
    animation: change-size 1.1s ease-in-out;
}

@keyframes change-size {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

h1 { color: blueviolet; font-size: 35px; margin-bottom: 3%; }

#title { margin-top: 10%; text-align: center; color: white; }

#order { text-align: center; }

button { font-family: 'Finlandica', sans-serif; }

.button_order { margin: 30px; background-color: rgba(28,28,28,0); border-color: blueviolet; color: blueviolet; font-size: 25px; border-radius: 15px; padding-top: 20px; padding-bottom: 20px; padding-left: 50px; padding-right: 50px; transition-property: background-color, color; transition-duration: 0.3s; transition-timing-function: ease-in-out; }

.button_order:hover { background-color: blueviolet; color: white; }