body {
    margin: 0;
    padding: 0;
    background-image: url(../images/background.png);
    font-family: 'Finlandica', sans-serif; 
}

::-webkit-scrollbar {
  display: none;
}

ul {
    float: right;
    list-style-type: none;
}

div {
    position: relative;
    animation: jump 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    transform: translateY(-100px);
}

@keyframes jump {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  60% {
    opacity: 1;
    transform: translateY(50px);
  }
  75% {
    transform: translateY(-30px);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}


li {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
}

#logo { margin-top: 3%; margin-left: 10%; display: inline-block; }

#logotype { width: 150px; height: 50px; }

#navigation { display: none; }

@media (min-width: 737px) { #navigation { display: block; float: right; margin-top: 3%; margin-right: 10%; }

#menu { display: inline-block; }

#menu li { margin-left: 15px; }

#menu a { font-size: 20px; padding: 10px; transition: all 0.3s ease-in-out; }

#menu a:hover { color: blueviolet; }

#navigation-mobile { display: none; } }

#button-menu { display: block; float: left; margin-left: 90%; margin-top: -50px; background-color: transparent; border: none; outline: none; cursor: pointer; }

#button-menu img { width: 30px; height: 30px; }

#menu-mobile { display: none; text-align: center; }

#menu-mobile a { display: block; padding: 10px; font-size: 20px; color: white; transition: all 0.3s ease-in-out; }

#menu-mobile a:hover { color: blueviolet; } }

.menu-icon {
  transition: transform 0.3s ease-in-out;
}

.menu-icon.rotated {
  transform: rotate(90deg);
}

p {
    font-size: 25px;
}

h1 {
    color: blueviolet;
    font-size: 35px;
    margin-bottom: 3%;
}

#title {
    margin-top: 8%;
    text-align: center;
    color: white;
}

#info {
    margin-top: 5%;
    text-align: center;
    color: white;
}

#contract_1 {
    height: 50%;
    width: 50%;
    outline: 3px solid #ffffff;
}

#case_1 {
    margin-bottom: 5%;
}

.images {
    transition: 1s;
}

.images:hover {
    transform: scale(1.2);
}